.chat-list-container{
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.chat-list-box{
  width: 100%;
  position: absolute;
  height: calc( 100% - 144px);
  overflow-y: auto;
}

.chat-list-text{
  font-size: 15px;
  cursor: pointer;
  list-style-type: none;
  color: #222;
  position: relative;
}

.chat-list-text li{
  padding-left: 5px;
  height: 55px;
}

.chat-list-text li:hover{
  background-color: rgba(62, 62, 62, 0.25);
}

.chat-list-picture{
  vertical-align: middle;
  position: absolute;
  top : 5px;
}

.chat-list-picture img{
  width : 45px;
  height: 45px;
  border-radius: 50%;
}

.friend-name{
  font-weight: 400;
  position: absolute;
  left : 55px;
  top: 7px;
}

.friend-time{
  font-weight: 400;
  position: absolute;
  right : 10px;
  top: 7px;
}

.lastMessageText{
  color: rgb(137, 137, 137);
  font: inherit;
  position: absolute;
  float : left;
  top: 29px;
  left : 55px;
}

.friend-notif-oneNumber{
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 29px;
  right : 10px;
  width : 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(98, 94, 94, 0.52);
}

.friend-notif-twoNumber{
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 29px;
  right : 10px;
  width : 25px;
  height: 20px;
  border-radius: .28571429rem;
  text-align: center;
  background-color: rgba(98, 94, 94, 0.52);
}

.friend-notif-threeNumber{
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 29px;
  right : 10px;
  width : 35px;
  height: 20px;
  border-radius: .28571429rem;
  text-align: center;
  background-color: rgba(98, 94, 94, 0.52);
}

.friend-notif-threeNumberPlus{
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 29px;
  right : 10px;
  width : 45px;
  height: 20px;
  border-radius: .28571429rem;
  text-align: center;
  background-color: rgba(98, 94, 94, 0.52);
}

.li-chats{
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: -1px;
  background-color: #3f3f3f;
  color: #a0a099;
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #aaa;
  cursor: default;
}
