.footer-app{
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #3f3f3f;
  width: 100%;
  position: absolute;
  bottom: 0 ;
}

.inputBarMessage textarea{
  padding : 10px;
  padding-top : 12px;
  margin-left: 36px;
  height: 40px;
  margin-top: 6px;
}

.inputBarMessage textarea:focus{
  outline: 0px;
  box-shadow: 0px 0px 3px 0px rgb(52, 49, 55);
}

.message{
  border: 0.2px solid #5b5b5b;
  width: 93%;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
}

.fileSetting{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  bottom: 15px;
}

.fileSetting:hover{
  cursor: pointer;
}

.errorImageType{
  position: fixed;
  top : 15px;
  right: 15px;
  width : 400px;
  height: 60px;
  line-height: 60px;
  background-color: rgba(93, 16, 16, 0.97);
  font-family: HelveticaNeue;
  animation: fade-out 2s ease-in 1s forwards;
  border-radius: 5px;
}

.imgPreview{
  padding-top : 10px;
  vertical-align: middle;
  position : relative;
}

.imgPreview img{
  width : 200px;
  height: 200px;
  padding : 10px;
}

.cancelImage img{
  cursor: pointer;
  width : 40px;
  height: 40px;
  position: absolute;
  left: 488px;
  top: -3px;
  border : 1px transparent;
}

.noSupportPreview{
  padding-top : 8px;
  position : relative;
}

.noSupportPreview p{
  line-height: 8px;
  padding : 6px 0px 6px 0px;
  position : relative;
}

.cancelNoSupport img{
  cursor: pointer;
  width : 20px;
  height: 20px;
  position: absolute;
  left: 476px;
  top: 6.5px;
  z-index: 1;
  border : 1px transparent;
}
