.profileAndName{
  width: 100%;
  height: 100%;
}

.profileName{
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: absolute;
}

#modalProfileImage img{
  width: 500px;
  height: 500px;
}

#modalProfileImage{
  padding : 1.4rem;
  line-height: 0;
  height: 540px;
  width : 540px;
}
