.background-top{
  width: 100%;
  height: 150px;
  background-color:#3f3f3f;
}

.container-page{
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0 ,0 , 0.2);
  width: 95%;
  height: 98%;
  margin: auto;
  position: absolute;
  top: 1%;
  left: 2.5%;
  background-color: #ffffff;
}

.rightColumn{
  width : 70%;
  height: 100%;
  float: right;
  border : 1px solid #aaa;
  position: relative;
  background-color: #f7f9fa;
  vertical-align: middle;
  background: url('../../picture/logo.png') no-repeat;
  background-position: center;
}

.left-column{
  width : 30%;
  height: 100%;
  float: left;
  border : 1px solid #aaa;
  border-right: 0px;
  position: relative;
}
